@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 8%;
  padding-right: 8%;
}
h3 {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  margin-top: 27px;
}
.parent-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}
.parent-div .child-img img {
  width: 540px;
}

.parent-div .child-text h1 {
  font-family: "Space Mono", monospace;
  font-size: 44px;
}

.parent-div .child-text p {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  width: fit-content;
  margin-top: 35px;
}
.parent-div .child-text button {
  background-color: #333;
  padding: 15px;
  color: #fff;
  margin-top: 90px;
  cursor: pointer;
}
.footer {
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 120px;
}

@media only screen and (max-width: 1000px) {
  .parent-div {
    flex-direction: column;
  }
  .parent-div .child-img img {
    width: 500px;
    height: 450px;
  }

  .parent-div .child-text h1 {
    font-family: "Space Mono", monospace;
    width: 450px;
    height: 190px;
    font-size: 50px;
    text-align: center;
  }
  .parent-div .child-text p {
    font-family: "Space Mono", monospace;
    font-size: 20px;
    width: 100%;
    margin-top: 55px;
    text-align: center;
  }
  .parent-div .child-text button {
    background-color: #333;
    padding: 15px;
    color: #fff;
    margin-top: 50px;
    margin-left: 135px;
    cursor: pointer;
  }
  .footer {
    margin-top: 95%;
    margin-bottom: 30px;
  }
}
